/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* martian-mono-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/martian-mono/static/MartianMono-Regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* martian-mono-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* martian-mono-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/martian-mono/static/MartianMono-Bold.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

// Font Family
$font-primary: 'Martian Mono', sans-serif;
$font-secondary: 'Inter', sans-serif;

// Font-sizes
$fs-800: clamp(2.375rem, 1.95rem + 2vw, 3.875rem);
$fs-700: clamp(2.125rem, 1.8rem + 1.45vw, 3.125rem);
$fs-600: clamp(1.5rem, 1.35rem + 0.85vw, 2.125rem);
$fs-500: 1.5rem;
$fs-400: 1.25rem;
$fs-300: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
$fs-200: .857rem;

// Font weight variables
$fw-thin: 100;
$fw-xlight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-sbold: 600;
$fw-bold: 700;
$fw-xbold: 800;
$fw-black: 900;

// Line heights
$lh-100: 1.1;
$lh-200: 1.2;
$lh-300: 1.3;
$lh-400: 1.4;

// Letter Spacing
$ls-sm: -2px;
$ls-md: -1px;
$ls-lg: -0.5px;

@mixin text-style ($font, $size, $weight, $lineheight, $spacing) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineheight;
  letter-spacing: $spacing;
}

// Font settings
// Text - Preset 1
@mixin text-preset-1() {
  @include text-style($font-primary, $fs-800, $fw-bold, $lh-200, $ls-sm);
}

// Text - Preset 2
@mixin text-preset-2() {
  @include text-style($font-primary, $fs-700, $fw-sbold, $lh-300, $ls-sm);
}

// Text - Preset 3
@mixin text-preset-3() {
  @include text-style($font-primary, $fs-600, $fw-sbold, $lh-200, $ls-md);
}

// Text - Preset 4
@mixin text-preset-4-sb() {
  @include text-style($font-primary, $fs-500, $fw-sbold, $lh-100, $ls-md);
}

@mixin text-preset-4() {
  @include text-style($font-primary, $fs-500, $fw-regular, $lh-100, $ls-md);
}

// Text - Preset 5
@mixin text-preset-5-sb() {
  @include text-style($font-secondary, $fs-400, $fw-sbold, $lh-400, $ls-lg);
}

@mixin text-preset-5() {
  @include text-style($font-secondary, $fs-400, $fw-regular, $lh-400, $ls-lg);
}

// // Text - Preset 6
@mixin text-preset-6() {
  @include text-style($font-primary, $fs-300, $fw-sbold, $lh-300, $ls-md);
}

// Text - Preset 7
@mixin text-preset-7() {
  @include text-style($font-primary, $fs-200, $fw-regular, $lh-200, $ls-md);
}