// Spacing
$spacer: (
  025: 2px,
  050: 4px,
  075: 6px,
  100: 8px,
  150: 12px,
  200: 16px,
  250: 20px,
  300: 24px,
  400: 32px,
  500: 40px,
  600: 48px,
  800: 64px,
  1000: 80px,
);

//Radius
$radius: (
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  full: 999px,
);

:root {

  /* Spacing */
  @each $spacing, $range in $spacer {
    --spacing-#{$spacing}:#{$range};
  }
  /* Border Radius */
  @each $size, $range in $radius{
    --radius-#{$size}:#{$range};
  }
}