@use './funct_mixins' as *;

// Spacing
$spacer: (
  025: px-to-rem(2),
  050: px-to-rem(4),
  075: px-to-rem(6),
  100: px-to-rem(8),
  150: px-to-rem(12),
  175: px-to-rem(14),
  200: px-to-rem(16),
  250: px-to-rem(20),
  300: px-to-rem(24),
  400: px-to-rem(32),
  450:px-to-rem(34),
  500: px-to-rem(40),
  600: px-to-rem(48),
  800: px-to-rem(64),
  900: px-to-rem(80),
  1050: px-to-rem(120),
  1100: px-to-rem(135),
);

//Radius
$radius: (
  4: px-to-rem(4),
  6: px-to-rem(6),
  8: px-to-rem(8),
  10: px-to-rem(10),
  12: px-to-rem(12),
  16: px-to-rem(16),
  20: px-to-rem(20),
  24: px-to-rem(24),
  full: 999px,
);

:root {

  /* Spacing */
  @each $spacing, $range in $spacer {
    --spacing-#{$spacing}:#{$range};
  }
  /* Border Radius */
  @each $size, $range in $radius{
    --radius-#{$size}:#{$range};
  }
}